@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

$space: 10px;
$primaryColor: rgb(0, 188, 212);

body {
  background: #F1F5F8;
  font-size: 15px;
  font-family: 'Roboto';
  padding: 0;
  margin: $space;
}

h1 {
  text-align: center;
  font-size: 1.6em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.loader {
  margin: $space;
  text-align: center;
}

.error {
  margin: $space;
  color: rgb(193, 66, 66);
}

.rating-button {
  margin: $space;
}

.rating-detail {
  margin: 0 $space;
}

.message {
  font-size: 1.2em;

  strong {
    color: $primaryColor;
  }
}

.small-info {
  font-size: 0.8em;

  strong {
    color: $primaryColor;
  }
}